.graph-nav-info {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: slategrey;
    opacity: 0.7;
    font-size: 10px;
}

.graph-tooltip {
    position: absolute;
    color: lavender;
    font-size: 18px;
	pointer-events: none;
}






	.industry-info-row * {
    vertical-align: middle;
	padding:0.2em
	}


	.searchbar-container
	{
		z-index:999;

	}


	.graph-node-info
	{
		    overflow-y: visible;
		position:absolute;
		top:10px;
		left:400px;
		z-index:999;
		
		color:white;
			background-color: rgba(0, 0, 0, 0.6) ;
		  border :1px solid rgba(128, 128, 128, 0.25);
		  
		  max-height:760px;
		  max-width:810px;
		  
		   text-align: left;
		       overflow: hidden;
		  
	}
	
	.graph-node-info-header{
		background-color: rgba(47, 45, 45, 0.81) !important;	
		display:flex;
		text-align:right;
	}

	  
	
	.graph-node-info-search{
		
			background:#1f4e79;
		 padding: 0.5em;
	}
	
	
	
	.graph-node-info-search a{
		
		color:white;
		text-decoration:none;
	}
	
	.graph-node-info-price{
		
			background-color: rgba(0, 0, 0, 0.3) !important;	
			padding: 0.5em;
	}
	.graph-node-info-close{
			
			background-color: transparent !important;	
			padding: 0.5em;
		
	}
	
	
	.graph-node-info-news-header{
		padding:0.5em;
		background-color: rgba(0, 0, 0, 0.3) !important;	
		
	}
	.graph-node-info-news-body{
		padding:0.5em;
		
		
	}
	
	
	.graph-tooltip
	{
		
	}
	.graph-tooltip > .content
	{
		background-color: rgba(0, 0, 0, 0.6) !important;	
		padding:0.5em;	
	}
	
	.ui-autocomplete
	{
	background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
	border:0px !important;
	
	 max-height:30em; overflow-y: scroll; 
	 max-width:20em;
	}	
	
	/**
	TODO used in left-info-panel and should be used by web component and put itno shadow dom preferrably
	*/
	.my-accordion{
		
		  border :1px solid rgba(128, 128, 128, 0.25) !important;
		  padding: 0px 2px 0px 2px!important;
		  
	}
	
	.my-accordion > *{
		margin:0px !important;
		
	}

.my-accordion > .ui-accordion-header{
			margin: 2px 0 0 0;
			padding: .5em .5em .5em .7em;
			font-weight:bold !important;
			color:white !important;
			 text-align: left !important;
	}

.my-accordion > .ui-accordion-header:focus{
		 outline: 0 !important;
		 background: rgba(0, 0, 0, 0.25) !important;
		 
	}

.my-accordion >	.ui-accordion-content
	{
		overflow:visible !important;
		 text-align: left !important;
		 padding:.5em .5em .5em .7em !important;
		 color:white !important;
		
	}
	
	
	.ui-widget-content
	{
		 background: rgba(24, 23, 23, 0.21);
		border:0px;
	}
	
	.ui-state-default
	{
		    background: rgba(32, 32, 32, 0.25);
			border:0px;
	}
	
	
	.zoom-slider
	{
		position:absolute;
		top:1em;
		left:60%;
		background:transparent;
		 min-width: 300px;
		display:inline-block;
		width:200px !important;
	z-index:999;
		
	}
	.ui-slider
	{
		
		display:none;
		
		
	  background: lightgrey; /* For browsers that do not support gradients */
  
	  background: -webkit-linear-gradient(left,orange,grey);
	 
	  background: -o-linear-gradient(left,orange,grey);
	  
	  background: -moz-linear-gradient(left,orange,grey);
	 
	  background: linear-gradient(to right,orange,grey); 
	  
	      height: 0.2em;
    border: 0 !important;
			
	}
	
	.ui-slider .ui-slider-handle {
    width:2em;
    height:1.6em;
	border: 0 !important;
    text-decoration:none;
    text-align:center;
	    top: -1em;
	
	background: url(../img/dot6.png);
    background-size: 2em;
	
	}
	.ui-slider-handle:focus{
		outline:0;
		
		
	}
	
	
	
	.searchbar-container{
	
	left:240px;
	display:flex;
    position: absolute;
	top:15px;
	
	border: 0;
	
	}
	
	
	.searchbar-container input{
		
		border-radius: 5px;
		border: 0;
		 min-width: 400px;
		outline: none;
		padding: 0.5em;
	}
	
	
	
	
	.searchbar-search
	{
   /* position: absolute;
	display: inline-block;
    content: "";
    width: 26px;
    height: 26px;
    background: url('data:image/svg+xml;utf8,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" fill="#fff"/></svg>');	
	background-size: 100%;*/
	}

	.searchbar-search-row
	{
		text-align:left;
		border-bottom:1px solid darkslateblue;

		
	}
	
	.searchbar-search-row b
	{
		color:darkslateblue;
		 text-shadow: 0 0 0.1em white, 0 0 0.1em white, 0 0 0.1em white;

	}

	
	
	
	
	
	
	
  .ui-progressbar {
    position: absolute;
	top:10px;
	left:10px;
	width:30%;
	height:20px;
  }
  .progress-label {
    position: absolute;
    left: 10%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }


  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
  
  
	.graph-country-caption
	{
	color:ffffff;
	    padding: 2 5 2 5;
		background: rgba(0, 0, 0, 0.5);
		
		font-size: 0.8em;
		font-weight: 900;
		opacity: 0.5;
	}
	
	.graph-country-caption:hover
	{
		
	    opacity: 0.6 !important;
		color:darkslateblue;
		
		
    text-shadow: 0 0 0.5em white, 0 0 0.5em white, 0 0 0.5em white;
		
	}
  
  
 
	.node-caption
	{
		color:white;
	    padding: 2 5 2 5;
		background: rgba(0, 0, 0, 0.5);
	}
	
	.node-caption-highlighted
	{
		color: white !important;
		//font-weight: bold;
		text-shadow: 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white;
	}
	

	.cloudNodeColorSelect
	{
		position:absolute;
		bottom:40px;
		left:48%;
		z-index:999;
		width:130px;
		
		
		background: rgba(0, 0, 0, 0.51);
		color: white;
		border: transparent;
		
	}
	.cloudNodeColorSelect:focus{
		outline:0
		
	}
	
	
	.bottomCompanyGradient
	{
		position:absolute;
		bottom:20px;
		left:0px;
		right:0px;
		z-index:999;
		color:white;
		display:flex;
			
	}
	
	
	
		.companyGradient {
  background: lightgrey; /* For browsers that do not support gradients */
  
  background: -webkit-linear-gradient(right,#218D20,#439229,#8CCB84,#14B0BF,#9DC9CA,#CAB81A,#BBC42D,#C8A6BF,#CF73B4,#816365,#7D5C53,#AE5E29,#B62729);
 
  background: -o-linear-gradient(right,#218D20,#439229,#8CCB84,#14B0BF,#9DC9CA,#CAB81A,#BBC42D,#C8A6BF,#CF73B4,#816365,#7D5C53,#AE5E29,#B62729);
  
  background: -moz-linear-gradient(right,#218D20,#439229,#8CCB84,#14B0BF,#9DC9CA,#CAB81A,#BBC42D,#C8A6BF,#CF73B4,#816365,#7D5C53,#AE5E29,#B62729);
 
  background: linear-gradient(to left,#218D20,#439229,#8CCB84,#14B0BF,#9DC9CA,#CAB81A,#BBC42D,#C8A6BF,#CF73B4,#816365,#7D5C53,#AE5E29,#B62729); 
}
	
	.rightCompanyInfo
	{
		position:absolute;
		right:0.5em;
		top:50px;
		z-index:999;
		background: rgba(0, 0, 0, 0.51);
		color:white;
		border:1px solid rgba(128, 128, 128, 0.51);
		padding:0.5em;
	}
	.rightCompanyInfo .event
	{
		text-align:left;
		border-top:1px solid rgba(128, 128, 128, 0.51);
		padding:0.5em;
	}
	
	
	#companyIndustry img {
    height: 1.5em;
	}