@import url('https://fonts.googleapis.com/css?family=Exo+2');


sample-cluster-application * {
    font-family: 'robotoCondensed' !important;
}

sample-cluster-application * {
    font-family: 'robotoCondensed' !important;
}

sample-cluster-application .view-thumbnail{
pointer-events: all;
height: 300px;
width: 400px;
display: flex;
border: 1px solid rgba(128, 128, 128, 0.5);
margin: 0.2em;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: red;

}

::-webkit-scrollbar-button {
    background: transparent;
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #888;
}

