.view-3d-maximised {
    border: 0px solid rgba(128, 128, 128, 0.5) !important;
    margin: 0 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
}


.view-3d-caption {
pointer-events: none;
position: relative;
padding: 1em;
font-size: 2em;
top: 30%;
height: 3em;
width: 100%;
background: rgba(255,255,255,0.3);
left: 0px;
z-index: 1;

}