@font-face {
  font-family: 'robotoCondensed';
  src: url("../fonts/roboto_condense/RobotoCondensed-Regular.ttf") format("truetype")
}
@font-face {
  font-family: 'robotoCondensed-bold';
  src: url("../fonts/roboto_condense/RobotoCondensed-Bold.ttf") format("truetype")
}
@font-face {
  font-family: 'robotoCondensed-bold-it';
  src: url("../fonts/roboto_condense/RobotoCondensed-BoldItalic.ttf") format("truetype")
}
@font-face {
  font-family: 'robotoCondensed-it';
  src: url("../fonts/roboto_condense/RobotoCondensed-Italic.ttf") format("truetype")
}
@font-face {
  font-family: 'robotoCondensed-light';
  src: url("../fonts/roboto_condense/RobotoCondensed-Light.ttf") format("truetype")
}
@font-face {
  font-family: 'robotoCondensed-light-it';
  src: url("../fonts/roboto_condense/RobotoCondensed-LightItalic.ttf") format("truetype")
}

.robotoCondensed { font-family: 'robotoCondensed';}
.robotoCondensed-bold { font-family: 'robotoCondensed-bold';}
.robotoCondensed-bold-it { font-family: 'robotoCondensed-bold-it';}
.robotoCondensed-it { font-family: 'robotoCondensed-it';}
.robotoCondensed-light { font-family: 'robotoCondensed-light';}
.robotoCondensed-light-it { font-family: 'robotoCondensed-light-it';}