@font-face {
  font-family: 'ssp-bold';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#sourcesanspro-bold-webfont") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-extralight';
  src: url("../fonts/sourcesanspro-extralight-webfont.eot");
  src: url("../fonts/sourcesanspro-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralight-webfont.woff") format("woff"), url("../fonts/sourcesanspro-extralight-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-extralight-webfont.svg#sourcesanspro-extralight-webfont") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-extralight-it';
  src: url("../fonts/sourcesanspro-extralightIt.eot");
  src: url("../fonts/sourcesanspro-extralightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-extralightIt.woff") format("woff"), url("../fonts/sourcesanspro-extralightIt.ttf") format("truetype"), url("../fonts/sourcesanspro-extralightIt.svg#sourcesanspro-extralightIt") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'ssp-it';
  src: url("../fonts/sourcesanspro-it-webfont.eot");
  src: url("../fonts/sourcesanspro-it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-it-webfont.woff") format("woff"), url("../fonts/sourcesanspro-it-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-it-webfont.svg#sourcesanspro-it-webfont") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ssp-light';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#sourcesanspro-light-webfont") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ssp';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#sourcesanspro-regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ssp-semibold';
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#sourcesanspro-semibold-webfont") format("svg");
  font-weight: 600;
  font-style: normal;
}


.ssp { font-family: 'ssp';}
.ssp-bold { font-family: 'ssp-bold';}
.ssp-extralight { font-family: 'ssp-extralight';}
.ssp-extralight-it { font-family: 'ssp-extralight-it';}
.ssp-it { font-family: 'ssp-it';}
.ssp-light { font-family: 'ssp-light';}
.ssp-semibold { font-family: 'ssp-semibold';}