.positive{color: #89c34f;}
.negative{color: #e5645c;}
.strong{color: #dbb92e;}
.active{color: #9dc2e5;}
.normal{color: #d0cece;}
.a1b1{color: #89c34f;}
.a1b2{color: #e5645c;}
.a1b3{color: #dbb92e;}
.a1b4{color: #9dc2e5;}

.control-search { font-family: 'robotoCondensed';color:#e6e9ed;padding:10px;}

.control-news { font-family: 'robotoCondensed';color:#e6e9ed;padding:10px;}
.control-news > .group-btn-view { width:100%; text-align:center; padding-bottom:15px;}
.control-news > .group-btn-view > .col { text-align:center;float:left;width: 25%;font-size:16px;margin-top:0px;cursor:pointer;padding:10px;}
.control-news > .group-btn-view > .last { text-align:center;float:right;width: 25%;font-size:16px;margin-top:0px;cursor:pointer; padding:10px;}
.control-news > .group-btn-view > .active {  background:#1f4e79; color:#ffffff;}
.control-news > .list-news { font-family: 'robotoCondensed-light';}
.list_news_list { width:100%; font-size:14px;font-family: 'robotoCondensed';}
.list_news_list > .topic { text-align:left;float:left;width: 75%;margin-bottom:5px;font-size:12px;}
.list_news_list > .ticker { text-align:center;display: inline-block;width: 15%;font-size:12px;}
.list_news_list > .datetime {text-align:center;float:right; width: 10%;font-size:12px;}
.control-news > .load-more {text-align:center;width: 100%;font-family: 'robotoCondensed';}
.control-news > .load-more > .btn-loadmore {text-align:center;width: 100%;background-color:rgba(127,127,127, 0.10);height:25px;font-size:12px;cursor:pointer;font-family: 'robotoCondensed';}
.control-news > .desc-news > { width:100%; text-align:center;}
.control-news > .desc-news > .col { text-align:center;float:left;width: 25%;font-size:12px;margin-top:15px;font-family: 'robotoCondensed';}
.control-news > .desc-news > .last { text-align:center;float:right;width: 25%;font-size:12px;margin-top:15px;font-family: 'robotoCondensed';}

.page-control { padding:5px; font-family:'benchnine' !important;}
.page-control-active { background:#000000;padding:5px; font-family:'benchnine' !important;}

.info11 {color:#46a6ff;font-size:20px;font-family:'benchnine' !important;}
.info2 {color:#e5e6e7;font-size:16px;font-family:'benchnine' !important;}
.detail1 {color:#c2c6c8;font-size:14px;width:40% !important;}
.detail2 {color:#92d050;font-size:14px;;width:30% !important;}
.detail2-1 {color:#f7685e;font-size:14px;;width:30% !important;}
.detail3 {color:#929495;font-size:12px;;width:30% !important;}