.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.graph-cluster-caption {
	color: #ffffff;
	padding: 2px 5px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 0.8em;
	font-weight: 900;
	opacity: 0.5;
}

.graph-cluster-caption:hover {
	opacity: 0.6 !important;
	color: darkslateblue;
	text-shadow: 0 0 0.5em white, 0 0 0.5em white, 0 0 0.5em white;
}

.node-caption {
	color: white;
	padding: 2px 5px;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

.node-caption-highlighted {
	color: white !important;
	text-shadow: 0 0 0.3em white, 0 0 0.3em white, 0 0 0.3em white;
}

.node-caption-secondary {
	opacity: 0.35;
	font-style: italic;
}
